.concert {
  padding: 50px;
}

.concert img {
  width: 100%;
  height: auto;
}

.concert-details {
  display: flex;
  flex-direction: column;
}

.concert-details h3 {
  margin: 0 0 1vh 0;
}

.concert-details p {
  margin: 0 0 0.5vh 0;
}

.concert-details a {
  margin-top: auto;
}
