#SavedConcertsMini{
    max-height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
    top: 10vh;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

#mini-concerts-container{
    max-height: 300px;
    overflow: auto;
    
}