.concerts-container {
  top: 10vh;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.artistConcerts-container {
  margin-bottom: 75px;
}

@media screen and (min-width: 600px) {
  .artistConcerts-container{
    width: 50%;
    margin: auto;
  }
}
