.Concert {
    text-align: center;
}
   
   
.Concert-header {
    background-color: #282c34;
    height: 10vh;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.Concert-name{
    height: 10vh;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#282c34;
    margin: 0% 5% 0% 25%;
}


.Concert-link {
    margin: 20px;
}

.Concert-button {
    margin: 15px;
}

img{
    max-width: 600px;
    padding: 5%;
}