.Concert {
  display: flex;
  flex-direction: column;
  text-align: center;
<<<<<<< HEAD
  font-family: 'Courier Prime', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
=======
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
>>>>>>> 59001336b27c52ec3938812df75a21109fe9d612
  white-space: normal;
  margin: 20px;
  margin-top: 70px;
}

.Concert-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin-bottom: 100px;
  background-color: white;
}
.Concert-header img {
  width: 50%;
}

.Concert-name {
  color: #282c34;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p.details {
  margin: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Concert-link {
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 15px;
}

.Concert-button {
  margin: auto;
  width:fit-content;
}

img {
}
@media screen and (min-width: 600px) {
  .Concert {
    width: 25%;
    margin: auto;
  }
}

button {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 2px solid #eee;
}
